body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    
}
html{
    scroll-behavior: smooth;
    
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
$banner-front-color:white;
$main-color:#999488;

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.Introduction {

    padding-left: 20%;
}

a {
    position: relative;
    color: black;
    text-decoration: none;


    &::after {}
}

.title {
    color: #2c2c2c;

    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
    padding-left: 9%;
    font-size: 3rem;

    @media (max-width :576px) {
        padding-left: 15px;
    }
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url("../img/home-office-336373_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .mask {
        background-color: rgba($color: #000000, $alpha: 0.3);
        width: 100%;
        height: 100%;

        .col-6 {
            padding-top: 100px;
        }

        nav {
            height: 138px;

        }
    }

    nav {
        color: $banner-front-color;

        .col-5 {
            ul {
                width: 100%;
                justify-content: space-between;

                a {
                    color: $banner-front-color;

                    li {
                        text-align: right;

                        span {
                            position: relative;

                            &:hover {
                                &::after {
                                    opacity: 1;
                                    bottom: 0px;
                                }
                            }

                            &::after {
                                color: $banner-front-color;
                                background-color: $banner-front-color;
                                content: "";
                                position: absolute;
                                left: 0px;
                                bottom: -6px;
                                width: 100%;
                                opacity: 0;
                                height: 1px;

                                -webkit-transition: all 200ms linear 0ms;
                                transition: all 200ms linear 0ms;
                            }

                        }
                    }

                    &:hover {

                        text-decoration: none;


                    }

                    &::after {
                        // 

                    }
                }
            }
        }
    }
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #224029;


    .container {
        color: #B36068;

        a {
            font-size: 2rem;
            color: #B36068;

            &:hover {
                transition: 1s;
                text-decoration: none;
                color: #FFBDC3;
                font-size: 2.5rem;
            }
        }

        .text {
            font-size: 1.5rem;

            a {
                font-size: 2rem;

                &:hover {
                    transition: 1s;
                    text-decoration: none;
                    color: #FFBDC3;
                    font-size: 2.5rem;
                }
            }
        }

        .picture {
            .img-fluid {
                z-index: 3;
                position: relative;
            }
        }
    }
}

.avater {
    width: 160px;
    height: 160px;
    background-color: greenyellow;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 80px;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 1s;

    @media (max-width: 768px) {
        width: 140px;
        height: 140px;
        border-radius: 70px;
        left: unset;
        right: 20px;
        top: 30px;
    }

}

.avater.active {
    left: -150px;
    transition: 1s;

    @media (max-width: 768px) {
        left: unset;
        top: -120px;
    }
}

.skills {
    background-color: #BF702A;

    width: 100%;
    padding-top: 50px;

    .container {
        padding-top: 50px;
        padding-bottom: 50px;

        .con-title {
            font-size: 2.5rem;
            padding: 30px 0;
            
            ul {
                padding-top: 20px;
                
                li {
                    font-size: 2rem;
                    
                    a {
                        text-decoration: none;

                        &:hover {
                            transition: 1.5s;
                            font-size: 2.5rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.Portfolio {
    background-color: #F2E3D5;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .tit {
        padding-left: 15px;
        padding-top: 30px;
        font-size: 18px;
        color: brown;
    }

    .main {
        position: relative;
        padding-top: 20px;
    }

    .mask {
        position: absolute;
        background-color: rgba($color: #A66E4E, $alpha: 0.3);
        padding: 25px 150px;
        font-size: 20px;
        left: 40%;
        bottom: -5%;

        @media (max-width:1200px) {
            position: unset;
            left: unset;
            margin-right: 15px;
        }

        @media (max-width:768px) {
            font-size: 15px;
            max-width: 100%;
            padding: 2.5px 20px;
            margin-right: 15px;
            position: unset;
        }

        &:hover {
            transition: 1s;
            background-color: rgba($color: #A66E4E, $alpha: 0.8);
            color: black;
            text-decoration: none;
        }

        button {
            width: 20px;
            height: 20px;
        }

    }
}

.Content {
    background-color: #A66E4E;
    padding-top: 50px;

    .main {
        padding-top: 30px;

        .MY {
            width: 320px;
            height: 320px;
            background-color: greenyellow;

            border-style: solid;
            border-color: white;
            border-width: 5px;
            border-radius: 160px;
            background-image: url(../img/logo.jpg);
            background-size: cover;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            z-index: 1;
            transition: 1s;

            @media (max-width:578px) {
                width: 200px;
                height: 200px;
                border-radius: 100px;
            }
        }
    }

    .my-about {
        padding-top: 20px;
        font-size: 24px;
    }

    .Community {
        a {
            padding: 30px 20px;

            i {
                font-size: 40px;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #260B01;
    color: white;

    .copyright {
        padding-top: 20px;
    }
}