@charset "UTF-8";
h2 {
  margin-top: 0;
}

h2 .page {
  padding: 48px 5% 0 5%;
}

@media (max-width: 860px) {
  h2 .page {
    padding: 0px 5% 0 5%;
  }
}

@media (max-width: 767px) {
  h2 .page {
    padding: 48px 5% 0 5%;
  }
}

a {
  text-decoration: none;
}

.martop {
  margin-top: 48px;
}

.page {
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .page {
    width: 100%;
    padding: 0 0 0 0;
  }
}

.page ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page ul li {
  list-style: none;
  margin: 1px 4px 0px 4px;
  padding: 16px 0px 10px 8px;
}

@media (max-width: 540px) {
  .page ul li {
    list-style: none;
    margin: 1px 4px 0px 0px;
    padding: 16px 0px 10px 0px;
  }
}

img {
  width: 100%;
  height: 100%;
}

.ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .ul {
    margin: 0 0 43px 5%;
  }
}

.li {
  margin: 0 20px 0 0;
  list-style: none;
}

li {
  list-style: none;
}

.banner-title h1 {
  font-size: 46px;
  font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .banner-title h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .banner-title h1 {
    font-size: 20px;
  }
}

.banner-title1 {
  margin-top: 12px;
}

.banner-title1 p {
  margin: 0;
}

.fix {
  position: absolute;
  bottom: 80px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1080px) {
  .fix {
    left: 0px;
    bottom: 60px;
  }
}

@media (max-width: 767px) {
  .fix {
    height: 216px;
  }
}

.page-4 {
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  margin: 0 auto;
}

.padtop {
  padding-top: 48px;
}

.page-s {
  padding: 0px calc(5% - 10px);
}

.group {
  margin-top: 24px;
  padding: 12px 2px 6px 2px;
}

.group a {
  background-color: black;
  padding: 10px 20px 6px 22px;
  margin-right: 24px;
  color: white;
}

@media (max-width: 1760px) {
  .group a:hover::after {
    left: 218px;
  }
}

.group a::after {
  bottom: -1px;
  width: calc(100% - 624px);
}

.group a span:hover {
  border-bottom: 2px solid white;
}

figure {
  margin: 0;
}

.product {
  width: 25%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-weight: 500;
  position: relative;
  padding-top: 48px;
}

@media (max-width: 1080px) {
  .product {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .product {
    width: 50%;
    padding-top: 48px;
  }
}

@media (max-width: 540px) {
  .product {
    width: 100%;
  }
}

.product a {
  color: #0067b8;
  font-weight: bolder;
  font-size: 15px;
}

.product a:hover {
  -webkit-box-shadow: 0 2px;
          box-shadow: 0 2px;
  height: 2px;
}

@media (max-width: 1760px) {
  .product a::after {
    width: calc(100% - 18.9357vw);
  }
}

.product figure img:hover {
  opacity: 0.6;
}

.c-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  opacity: .95;
  padding-top: 1px;
  padding-right: 34px;
  padding-bottom: 2px;
  margin-top: 37px;
}

.c-heading ~ p {
  margin-top: 0px;
}

.pic {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.fon {
  font-size: 46px;
  font-weight: 600;
}

h3 {
  margin: 0;
}

.padr {
  padding-left: 10px;
  font-weight: 600;
  padding-top: 48px;
}

@media (max-width: 767px) {
  section.page {
    padding: 0;
    height: calc(56.8vw + 280px);
    background-color: #e6e6e6;
  }
  header > .page {
    padding: 0;
  }
}

.c-list {
  font-size: 15px;
  color: #616161;
  font-weight: 600;
}

.c-list ul li {
  font-weight: 400;
  padding: 8px 0;
  font-size: 11px;
  line-height: 16px;
  width: 100%;
  margin-left: 0px;
}

.nav-group {
  display: block;
  float: left;
  min-height: 1px;
  margin-top: 36px;
  padding: 0 12px;
  width: 16.6666666667%;
  zoom: 1;
  line-height: 20px;
  font-size: 15px;
}

@media (max-width: 1080px) {
  .nav-group {
    width: 33.3333333%;
  }
}

@media (max-width: 540px) {
  .nav-group {
    width: 100%;
  }
}

.nav-group ul {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.nav-group ul li a:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

.page-v {
  padding: 0px calc(5% - 12px);
}

.page-v2 {
  padding-top: 30px;
  padding-bottom: 16px;
}

.page-v2 a {
  margin-top: 17px;
  font-size: 11px;
}

@media (max-width: 540px) {
  .page-v2 a {
    padding: 12px;
  }
}

@media (max-width: 1080px) {
  .aaa {
    margin-top: 48px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
  width: 100%;
  height: 54px;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .navbar {
    position: relative;
  }
}

.navbar .mobile_menu {
  width: 55px;
  height: 100%;
  display: none;
}

@media (max-width: 767px) {
  .navbar .mobile_menu {
    width: 19px;
    height: 16px;
    background-image: url(../jpg/menu.svg);
    display: block;
    background-position: center;
    background-size: cover;
    /* display: none; */
    margin-top: 22px;
    margin-left: 10px;
  }
}

.navbar .logo {
  padding: 16px 6px 16px 10px;
  width: 121px;
  height: 54px;
}

@media (max-width: 767px) {
  .navbar .logo {
    position: absolute;
    left: calc(50% - 55px);
  }
}

.navbar .mobile_search {
  padding: 20px 25px;
  display: none;
}

@media (max-width: 767px) {
  .navbar .mobile_search {
    padding: 20px 25px;
    display: block;
  }
}

.navbar .navL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .navbar .navL {
    display: none;
  }
}

.navbar .navL ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.navbar .navL ul li:hover a::after {
  display: block;
  left: 6px;
}

.navbar .navL ul li a {
  margin-top: 1px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 16px 8px 10px;
  height: 48px;
  line-height: 27px;
  font-size: 13px;
  position: relative;
  text-decoration: none;
  color: black;
}

.navbar .navL ul li a:focus {
  outline: black dashed 1px;
}

.navbar .navL ul li a::after {
  background: currentColor;
  content: "";
  display: none;
  height: 2px;
  position: absolute;
  bottom: 7px;
  width: calc(100% - 12px);
}

.navbar .navL ul li a:focus::after {
  left: 6px;
}

.navbar .navR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 767px) {
  .navbar .navR {
    width: 50px;
    height: 100%;
    background-image: url("../jpg/car.png");
    background-size: cover;
    background-position: center;
    display: block;
  }
}

.navbar .navR ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media (max-width: 767px) {
  .navbar .navR ul {
    display: none;
  }
}

.navbar .navR ul li:hover a::after {
  display: block;
  left: 6px;
}

.navbar .navR ul li a {
  margin-top: 1px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 16px 8px 10px;
  height: 48px;
  line-height: 27px;
  font-size: 13px;
  position: relative;
  text-decoration: none;
  color: black;
}

.navbar .navR ul li a::after {
  background: currentColor;
  content: "";
  display: none;
  height: 2px;
  position: absolute;
  bottom: 7px;
  width: calc(100% - 12px);
}

.navbar .navR ul li a:focus {
  outline: black dashed 1px;
}

.navbar .navR ul li a:focus::after {
  left: 6px;
}

.page .banner {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1080px) {
  .page .banner {
    height: unset;
  }
}

@media (max-width: 767px) {
  .page .banner {
    background-color: #e6e6e6;
  }
}

@media (max-width: 767px) {
  .page .banner img {
    height: 56vw;
  }
}

@media (max-width: 767px) {
  .page .banner .fix {
    position: unset;
  }
}

@media (max-width: 1080px) {
  .page .banner .fix .banner-title {
    margin: 0 auto;
  }
}

.productbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1080px) {
  .productbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .productbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.xboxbanner {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1080px) {
  .xboxbanner {
    margin-top: 48px;
  }
}

@media (max-width: 860px) {
  .xboxbanner {
    height: 67.6vw;
  }
}

@media (max-width: 767px) {
  .xboxbanner {
    height: 56.8vw;
    margin-top: 48px;
  }
}

.xboxbanner .fix {
  left: calc(5% + 5px);
  bottom: 40%;
  text-align: inherit;
  width: 70%;
}

@media (max-width: 767px) {
  .xboxbanner .fix {
    position: unset;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 860px) {
  .xboxbanner .fix .banner-title {
    margin: 0 auto;
    margin-top: 75px;
  }
}

.xboxbanner .fix .group a::after {
  width: calc(100% - 739px);
}

.introduce {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1080px) {
  .introduce {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .introduce {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.introduce .product {
  padding-top: 0px;
}

.allflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1080px) {
  .allflex {
    padding: 48px 5% 0 5%;
  }
}

@media (max-width: 540px) {
  .allflex {
    padding-top: 48px;
  }
}

.allflex span {
  font-size: 15px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 540px) {
  .allflex ul li {
    padding-left: 12px;
  }
}

.allflex ul li img {
  width: 28px;
  height: 28px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f2f2f2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {
  .footer .page {
    padding-left: 12px;
  }
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1080px) {
  .footer-end {
    margin-left: 12px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
  }
}

.footer-end ul {
  font-size: 11px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  .footer-end ul {
    padding-left: 12px;
  }
}

.footer-end ul li a {
  padding-left: 0px;
}

.footer-end a {
  color: black;
}

@media (max-width: 767px) {
  .footer-end a {
    padding-left: 12px;
  }
}

@media (max-width: 767px) {
  .footer-end .footer .page {
    padding-left: 0px;
  }
}

@media (max-width: 540px) {
  .footer-end .footer .page {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=css.css.map */